<div class="backdrop-opacity-100 backdrop-invert">
  <h1 class="text-9xl italic font-black first-letter:text-white text-slate-200">
    Hello world!
  </h1>
</div>
<div class="flex flex-wrap">
  <div
    class="box-content h-96 w-96"
    *ngFor="let color of colorList"
    [ngStyle]="{ 'background-color': color.hex }"
    (click)="copyHexCode(color.hex)"
  >
    <h3 class="text-4xl text-slate-50">{{ color.name }}</h3>
    <span>
      <h3 class="text-4xl text-slate-50">{{ color.hex }}</h3></span
    >
  </div>
</div>

<!-- {{ item.hex }} -->
